<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit posts</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body id="add-body">
    <main id="add-main">
        <div class="details">
            <p>Username <%=post.username%></p>
            <p>Post id : <%=post.id%></p>
        </div>
        <form method="post" action="https://quora-pr.onrender.com/posts/<%=post.id%>?_method=PATCH">
            <textarea name="content" id="user-content"> <%=post.content%></textarea>
            <button id="edit-button">Submit</button>
        </form>
    </main>
</body>
</html>