<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body id="home-body">
    <h1 id="home-heading">Quora</h1>
    <form action="https://quora-pr.onrender.com/posts">
        <button id="home-button">See posts</button>
    </form>
</body>
</html>